body{
	background-image: url(http://media.tumblr.com/tumblr_lsb01xU8Pw1qad55j.png); 
	background-repeat: repeat;
}
#img{
	width: 930px;
	height: 639px;
	border: 3px solid black;
	border-radius: 5px;
	position: absolute;
	margin: 0px 50px 50px 50px;
}
#top{
	width: 350px;
	height: 450px;
	background-color: #E3F5D5;
	border: 1px solid black;
	position: absolute;
	margin: 105px 0px 0px 95px;
	opacity: .50;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .50;
    -moz-opacity: .50;
}
#homeDIV{
	background-color: #E3F5D5;
	width: 300px;
	height: 400px;
    position: absolute;
    margin: 140px 0px 0px 120px;
}
#buttons{
	display: inline-block;
	float: right;
	position: relative;
	margin: -5px -5px 0px 0px;
	vertical-align: middle;
}
#facebook{
	width: 56px;
	height: 56px;
	background-color: #E3F5D5;
	display: inline-block;
	margin: auto;
	opacity: .75;
    filter: alpha(opacity=75); 
    -ms-filter: "alpha(opacity=75)"; 
    -khtml-opacity: .75;
    -moz-opacity: .75;
}

#twitter{
	width: 56px;
	height: 56px;
	background-color: #E3F5D5;
	display: inline-block;
	margin: auto;
	opacity: .75;
    filter: alpha(opacity=75); 
    -ms-filter: "alpha(opacity=75)"; 
    -khtml-opacity: .75;
    -moz-opacity: .75;
}

#github{
	width: 56px;
	height: 56px;
	background-color: #E3F5D5;
	margin: auto;
	display: inline-block;
	opacity: .75;
    filter: alpha(opacity=75); 
    -ms-filter: "alpha(opacity=75)"; 
    -khtml-opacity: .75;
    -moz-opacity: .75;
}
#tumblr{
	width: 56px;
	height: 56px;
	background-color: #E3F5D5;
	margin: auto;
	display: inline-block;
	opacity: .75;
    filter: alpha(opacity=75); 
    -ms-filter: "alpha(opacity=75)"; 
    -khtml-opacity: .75;
    -moz-opacity: .75;
}
#linkedin{
	width: 56px;
	height: 56px;
	background-color: #E3F5D5;
	display: inline-block;
	margin: auto;
	opacity: .75;
    filter: alpha(opacity=75); 
    -ms-filter: "alpha(opacity=75)"; 
    -khtml-opacity: .75;
    -moz-opacity: .75;
}
}
.tab{
	width: 70px;
	height: 19px;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.tab a {
	text-decoration: none;
	color: black;
}
.tab:hover{
	background-color: #E3F5D5;
	border: 1px dashed black;
}
#outtertabs{
	margin: 113px 0px 0px 120px;
}

#codeDIV{
	background-color: #E3F5D5;
	width: 500px;
	height: 200px;
    position: absolute;
    margin: 50px 0px 0px 200px;
}
#codeTop{
	width: 550px;
	height: 250px;
	background-color: #E3F5D5;
	border: 1px solid black;
	position: absolute;
	margin: 20px 0px 0px 175px;
	opacity: .50;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .50;
    -moz-opacity: .50;
}
#codeImg{
	width: 850px;
	height: 638px;
	border: 3px solid black;
	border-radius: 5px;
	position: absolute;
	margin: 5px 50px 70px 145px;
}
#codeOutterTabs{
	margin: 25px 0px 0px 300px;
}
#cosplayTop{
	width: 330px;
	height: 470px;
	background-color: #E3F5D5;
	border: 1px solid black;
	position: absolute;
	margin: 60px 0px 0px 810px;
	opacity: .50;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .50;
    -moz-opacity: .50;
}
#cosplayDIV{
	background-color: #E3F5D5;
	width: 300px;
	height: 425px;
    position: absolute;
    margin: 90px 0px 0px 830px;
}
#cosplayImg{
	position: absolute;
	margin: 0px 0px 0px 5px;
}
.switchImg{
	border: 3px solid black;
	border-radius: 5px;
}
#cosplayOutterTabs{
	margin: 65px 0px 0px 827px;
	position: absolute;
}
li a{
	text-decoration: none;
	color:black;
}
li a:hover{
	color: grey;
}
img{
	border: 3px solid black;
}
#volunteerDIV{
	background-color: #E3F5D5;
	width: 350px;
	height: 400px;
    position: absolute;
    margin: 50px 0px 0px 750px;
}
#volunteerTop{
	width: 400px;
	height: 450px;
	background-color: #E3F5D5;
	border: 1px solid black;
	position: absolute;
	margin: 20px 0px 0px 725px;
	opacity: .50;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .50;
    -moz-opacity: .50;
}
#volunteerImg{
	width: 700px;
	height: 614px;
	border: 3px solid black;
	border-radius: 5px;
	position: absolute;
	margin: 5px 50px 70px 10px;
}
#volunteerOutterTabs{
	margin: 25px 0px 0px 780px;
	position: absolute;
}